* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 200px;
  background-image: url("../images/mv.png");
  background-repeat:no-repeat;
  background-position:50%;
  background-size: cover;
}

.nav {
  width: 1024px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  line-height: 200px;
  margin: auto;
}

.nav-list {
  padding: 0px 30px;
  color: #FAFAFA;
}

.nav-list:first-child {
  margin-right: auto;
  margin-left: 10px;
  font-size: 26px;
}

.nav a {
  text-decoration: none;
  color: #FAFAFA;
}

.nav a:hover {
  color: #F84031;
}

.pf-nav {
  width: 1024px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.pf-nav-list {
  padding: 20px 40px 0;
}

.pf-nav a {
  color: #696969;
  font-size: 18px;
}

.pf-nav a:hover {
  color: #F84031;
}

.title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0 0;
}

.pf-explain {
  width: 1024px;
  text-align: center;
}

.heading {
  font-size: 32px;
  font-family: Raleway, sans-serif;
  text-align: center;
}

h2{
   position:relative;
}

/*titleに下線*/
h2::after{
   content:"";
   display:block;
   width:70px;
   height:3px;
   background-color:#ec715f;
   margin: 8px 477px 0px;
}

.text {
  padding-top: 30px;
  font-size: 16px;
  text-align: center;
}

.profile {
  width: 100%;
  display: flex;
  justify-content: center;
}

.left-cont {
  width: 600px;
}

.right-cont {
  width: 600px;
}

.pf-pic {
  padding: 30px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pf-pic img {
  width: 250px;
  height: 200px;
  margin: 10px;
  object-fit: cover;
}

.main-pic {
  padding: 30px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-pic img {
  width: 550px;
  height: 700px;
  padding: 10px 20px;
  object-fit: cover;
}
.footer {
  width: 100%;
  height: 60px;
  background-color: #EC715F;
  font-size: 16px;
  color: #FAFAFA;
  text-align: center;
  line-height: 60px;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 60px;
}

#back img {
  width: 50px;
}


/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
}
